judicial-doc-system/n8n_flow.json
{
  "name": "ASERGES - Procesamiento Notificaciones Judiciales (Correo Procuradores)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        },
        "mailbox": "INBOX",
        "options": {
          "unseen": true
        }
      },
      "id": "imap-trigger",
      "name": "IMAP - Buzón IONOS",
      "type": "n8n-nodes-base.imapTrigger",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": {
        "imap": {
          "id": "CONFIGURAR_CREDENCIAL_IMAP",
          "name": "IONOS IMAP - santiago@aserges.es"
        }
      },
      "notes": "CREDENCIALES IMAP A CONFIGURAR:\n- Host: imap.ionos.es\n- Puerto: 993\n- SSL: true\n- Usuario: santiago@aserges.es\n- Contraseña: Palacios@2024/"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.from }}",
              "rightValue": "procurador@solasortega.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-2",
              "leftValue": "={{ $json.from }}",
              "rightValue": "procuradoracarmencarrasco@gmail.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cond-3",
              "leftValue": "={{ $json.from }}",
              "rightValue": "info@belengoni.com",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ]
        },
        "looseTypeValidation": true
      },
      "id": "filtro-procuradores",
      "name": "Filtro Lista Blanca Procuradores",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [520, 300],
      "notes": "Lista blanca de procuradores configurada:\n- procurador@solasortega.com\n- procuradoracarmencarrasco@gmail.com\n- info@belengoni.com\n\nPara añadir más procuradores, edite las condiciones de este nodo."
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.attachments && $json.attachments.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "id": "verificar-adjuntos",
      "name": "¿Tiene adjuntos PDF?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [740, 300]
    },
    {
      "parameters": {
        "functionCode": "// Filtrar solo adjuntos PDF\nconst items = [];\nconst attachments = $input.first().json.attachments || [];\n\nfor (const att of attachments) {\n  const filename = (att.filename || att.fileName || '').toLowerCase();\n  const contentType = (att.contentType || att.mimeType || '').toLowerCase();\n  \n  if (filename.endsWith('.pdf') || contentType.includes('pdf')) {\n    items.push({\n      json: {\n        ...($input.first().json),\n        current_attachment: att,\n        attachment_filename: att.filename || att.fileName,\n        attachment_data: att.content || att.data,\n      },\n      binary: $input.first().binary\n    });\n  }\n}\n\nif (items.length === 0) {\n  items.push({\n    json: {\n      ...($input.first().json),\n      no_pdf: true\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "extraer-pdfs",
      "name": "Extraer adjuntos PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [960, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://2.136.66.69:8765/procesar",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "archivo",
              "inputDataFieldName": "attachment_0"
            },
            {
              "name": "origen",
              "value": "correo"
            },
            {
              "name": "remitente",
              "value": "={{ $json.from }}"
            },
            {
              "name": "asunto",
              "value": "={{ $json.subject }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "fullResponse": true
        }
      },
      "id": "enviar-worker",
      "name": "Enviar PDF al Worker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1180, 200],
      "notes": "Worker configurado en IP: 2.136.66.69:8765\nAsegúrese de que el firewall del PC Windows permite conexiones entrantes en el puerto 8765.\nSi la IP cambia, actualice la URL aquí."
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.estado || $json.estado }}",
              "operation": "equal",
              "value2": "vinculado"
            }
          ]
        }
      },
      "id": "verificar-resultado",
      "name": "¿Expediente encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 200]
    },
    {
      "parameters": {
        "fromEmail": "santiago@aserges.es",
        "toEmail": "santiago@aserges.es",
        "subject": "OK - Notificación judicial procesada - {{ $json.body?.metadatos?.tipo_resolucion || 'Documento' }}",
        "text": "Se ha procesado correctamente una notificación judicial.\n\nDETALLES:\n- Origen: Correo de procurador\n- Remitente: {{ $json.body?.remitente || 'N/A' }}\n- NIG: {{ $json.body?.metadatos?.nig || 'No detectado' }}\n- Procedimiento: {{ $json.body?.metadatos?.num_procedimiento || 'No detectado' }}\n- Tipo: {{ $json.body?.metadatos?.tipo_resolucion || 'No detectado' }}\n- Estado: VINCULADO A EXPEDIENTE\n- Expediente: {{ JSON.stringify($json.body?.expediente) || 'N/A' }}\n- Archivo: {{ $json.body?.ruta_archivo || 'N/A' }}\n- Hash: {{ $json.body?.hash || 'N/A' }}\n- Fecha: {{ $json.body?.timestamp || new Date().toISOString() }}\n\nMensaje automático del sistema de gestión documental ASERGES.",
        "options": {}
      },
      "id": "email-confirmacion",
      "name": "Email Confirmación OK",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1620, 100],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR_CREDENCIAL_SMTP",
          "name": "IONOS SMTP - santiago@aserges.es"
        }
      },
      "notes": "CREDENCIALES SMTP A CONFIGURAR:\n- Host: smtp.ionos.es\n- Puerto: 587\n- SSL/TLS: STARTTLS\n- Usuario: santiago@aserges.es\n- Contraseña: Palacios@2024/"
    },
    {
      "parameters": {
        "fromEmail": "santiago@aserges.es",
        "toEmail": "santiago@aserges.es",
        "subject": "URGENTE - Notificación judicial PENDIENTE de clasificación",
        "text": "ATENCION: Se ha recibido una notificación judicial que NO se ha podido vincular a ningún expediente.\n\nDETALLES:\n- Origen: Correo de procurador\n- Remitente: {{ $json.body?.remitente || 'N/A' }}\n- NIG: {{ $json.body?.metadatos?.nig || 'No detectado' }}\n- Procedimiento: {{ $json.body?.metadatos?.num_procedimiento || 'No detectado' }}\n- Tipo: {{ $json.body?.metadatos?.tipo_resolucion || 'No detectado' }}\n- Partes: {{ JSON.stringify($json.body?.metadatos?.partes) || 'No detectadas' }}\n- Estado: PENDIENTE DE CLASIFICACION MANUAL\n- Archivo guardado en: {{ $json.body?.ruta_archivo || 'C:\\\\Escaner\\\\_Pendientes\\\\' }}\n- Hash: {{ $json.body?.hash || 'N/A' }}\n- Fecha: {{ $json.body?.timestamp || new Date().toISOString() }}\n\nACCION REQUERIDA: Revisar el documento y vincularlo manualmente al expediente correspondiente en Mnprogram.\n\nMensaje automático del sistema de gestión documental ASERGES.",
        "options": {}
      },
      "id": "email-alerta-urgente",
      "name": "Email Alerta URGENTE (Pendiente)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1620, 340],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR_CREDENCIAL_SMTP",
          "name": "IONOS SMTP - santiago@aserges.es"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "santiago@aserges.es",
        "toEmail": "santiago@aserges.es",
        "subject": "ERROR - Fallo en procesamiento de notificación judicial",
        "text": "Se ha producido un error al procesar una notificación judicial.\n\nDETALLES DEL ERROR:\n- Nodo: {{ $json.node || 'Desconocido' }}\n- Error: {{ $json.message || JSON.stringify($json) }}\n- Fecha: {{ new Date().toISOString() }}\n\nACCION REQUERIDA: Revisar los logs del sistema y del worker Python.\n\nMensaje automático del sistema de gestión documental ASERGES.",
        "options": {}
      },
      "id": "email-error",
      "name": "Email Error",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1400, 520],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR_CREDENCIAL_SMTP",
          "name": "IONOS SMTP - santiago@aserges.es"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "santiago@aserges.es",
        "toEmail": "santiago@aserges.es",
        "subject": "INFO - Email de procurador sin adjuntos PDF",
        "text": "Se ha recibido un email de un procurador autorizado pero no contiene adjuntos PDF.\n\nDETALLES:\n- Remitente: {{ $json.from }}\n- Asunto: {{ $json.subject }}\n- Fecha: {{ $json.date || new Date().toISOString() }}\n\nPor favor, revise el email manualmente si es necesario.\n\nMensaje automático del sistema de gestión documental ASERGES.",
        "options": {}
      },
      "id": "email-sin-adjuntos",
      "name": "Notificar Sin Adjuntos",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [960, 440],
      "credentials": {
        "smtp": {
          "id": "CONFIGURAR_CREDENCIAL_SMTP",
          "name": "IONOS SMTP - santiago@aserges.es"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-no-procurador",
      "name": "No es procurador (ignorar)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [740, 500]
    }
  ],
  "connections": {
    "IMAP - Buzón IONOS": {
      "main": [
        [
          {
            "node": "Filtro Lista Blanca Procuradores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro Lista Blanca Procuradores": {
      "main": [
        [
          {
            "node": "¿Tiene adjuntos PDF?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No es procurador (ignorar)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene adjuntos PDF?": {
      "main": [
        [
          {
            "node": "Extraer adjuntos PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Sin Adjuntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer adjuntos PDF": {
      "main": [
        [
          {
            "node": "Enviar PDF al Worker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF al Worker": {
      "main": [
        [
          {
            "node": "¿Expediente encontrado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Expediente encontrado?": {
      "main": [
        [
          {
            "node": "Email Confirmación OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Alerta URGENTE (Pendiente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "name": "ASERGES",
      "id": "aserges-tag"
    },
    {
      "name": "Judicial",
      "id": "judicial-tag"
    },
    {
      "name": "Notificaciones",
      "id": "notificaciones-tag"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-03-06T00:00:00.000Z",
  "versionId": "2.0.0"
}
